<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piratical Liz's Store</title>
</head>
<body>

    <form action="." method = "POST">
        Star Wars Episode IV DVD ($20)
        <input type="number" name = "EpisodeIV" min="0"><br><br>
        Star Wars Episode V DVD ($20)
        <input type="number" name = "EpisodeV" min="0"><br><br>
        Star Wars Episode VI DVD ($20)
        <input type="number" name = "EpisodeVI" min="0"><br><br>
        Star Wars Episode IV Blu-Ray ($25)
        <input type="number" name = "EpisodeIVBlu" min="0"><br><br>
        Star Wars Episode V Blu-Ray ($25)
        <input type="number" name = "EpisodeVBlu" min="0"><br><br>
        Star Wars Episode VI Blu-Ray ($25)
        <input type="number" name = "EpisodeVIBlu" min="0"><br><br>
        <input type="submit" name = "Submit" value= "Submit">
        <input type="submit" name = "Submit" value = "Checkout">
        <input type="submit" name = "Submit" value = "Empty Cart">
    </form>

<br><br>

{% if not checkout %}
    You will fork up ${{cost}} for your {{itemsInCart}} movies if you continue.
{% endif %}

<br><br><br><br><br><br>

{% if checkout %}

    Pay ${{cost}} <br><br>
    You saved ${{regSavings}}. <br><br>
    And then you saved ${{bulkSavings}} for buying in bulk.

{% endif %}

</body>
</html>